<!DOCTYPE html>
<html>
  <head>
    <title>Real Estate Management</title>
    <link rel="stylesheet" href="css/agent1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <header>
      <h3>Elite Properties</h3>
        <nav>
            <ul>
                <li><a id="home" href="/">Home</a></li>
                <li><a id="about" href="/about">About</a></li>
                <li><a  id="contact" href="/contact">Contact</a></li>
                <li><a id="find-agent" href="/find">Find Agent</a></li>
            </ul>
        </nav>
    </header>
    <section class="card-section">
      <div class="card">
        <h2>Add Buyer</h2>
        <p>Add a new buyer to the system.</p>
        <a href="/add_buyer"><button>Add Buyer</button></a>
      </div>
      <div class="card">
        <h2>Add Seller</h2>
        <p>Add a new seller to the system.</p>
        <a href="/add_seller"><button>Add Seller</button></a>
      </div>
      <div class="card">
        <h2>Add Properties</h2>
        <p>Add a new property to the system.</p>
        <a href="/add_prop"><button>Add Property</button></a> 
      </div>
      <div class="card">
        <h2>Add Transaction</h2>
        <p>Add transaction in the system.</p>
        <a href="/upt_tran"><button>Add Transaction</button></a>
      </div>
    </section>
    
    <footer>
        <img src="images/logo.png" alt="Company Logo" class="logo">
        <h3>&copy;2023 Property.com</h3>
        <div class="social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </footer>
  </body>
</html>
